/data
.coverage
.pytype/
dist/
pip-delete-this-directory.txt
.dmypy.json
cython_debug/
/technical_refs
*.lock
celerybeat.pid
lib/
tests/fixtures/cached_*_text.txt
lib64/
__pypackages__/
.ropeproject
.idea
.ipynb_checkpoints
*.code-workspace
.pytest_cache/
.venv
tags
downloads/
/runs_old
env/
MANIFEST
dmypy.json
*.py[cod]
/examples/rag/sweep
*.log
tensorflow_code
/my_txs
*.manifest
/examples/**/*.args
.pdm.toml
proc_data
*.env
*.pot
parts/
.tox/
build/
var/
.*.swp
/examples/runs
ipython_config.py
.env.*
.ruff_cache
*$py.class
.hypothesis/
.vscode/
__pycache__/
/wandb
.nox/
*.mo
venv/
!.gitignore 
lang_code_data/
.installed.cfg
pip-log.txt
.vscode
eggs/
wheels/
docs/_build/
*.spec
lightning_logs/
*.*~
.python-version
serialization_dir
/research
*.[eE][nN][vV]*
.coverage.*
env.bak/
htmlcov/
!*.json
sdist/
.vs
!*.txt
my_txs/
.eggs/
*.py,cover
.pyre/
.webassets-cache
target/
.pybuilder/
/site
db.sqlite3-journal
logs/
cache*
cover/
*.egg-info/
.scrapy
local_settings.py
develop-eggs/
profile_default/
.mypy_cache/
venv.bak/
.cache
/target
/secrets
secrets.*
nosetests.xml
data/
stock_nft/
*.sage.py
*config.*
.spyderproject
instance/
share/python-wheels/
db.sqlite3
celerybeat-schedule
runs
pip-wheel-metadata/
.env
/USDC
.Python
*.so
coverage.xml
*.egg
temp*
*.cover
debug.env
.pre-commit*
/mlruns
!*.tsv
ENV/
.spyproject
.DS_Store

stats/.DS_Store
